# Dependencies
node_modules/
target/
*.jar
*.war
layout.sh
dist-ssr
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
.env.prod
app.pid
application-local.yml

# Build
dist/
build/
out/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/

# Ansible
*.retry

