# Dependencies
node_modules/
target/
*.jar
*.war
layout.sh
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env
application-local.yml

# Build
dist/
build/
out/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/

# Ansible
*.retry

